.container {
    width: auto;
    max-width: 600px;
    height: 350px;
    
}

.content{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div1 {
    border: 2px rgb(131, 168, 114) solid;
    padding: 30px;
    box-sizing: border-box;
}


.div3 {
    background-color: lightpink;
}
