.react-edu-carousel__container {
    position: relative;
    display: block;
    overflow: hidden;
}

.react-edu-carousel__element {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.react-edu-carousel__button{
}